

.center {
	position: fixed;
	top: 30%;
	left:50%;
	margin-top: -50px;
	margin-left: -300px;
	font-variant:small-caps;
	border-color:black;
	border-style:solid;
	padding:10px;
	background-color:white;
}

h1.center {
	font-size: 50px;
	
}


h3.center {
	font-size: 25px;
	margin-left: 400px;
}


body {
	background-image: url("http://bravenewdungeon.files.wordpress.com/2013/08/ph-barroom-brawl.jpeg");
	background-position:fixed;
	opacity: 0.6;
}


