

.center {
	position: fixed;
	top: 30%;
	left:42%;
	margin-top: -50px;
	margin-left: -300px;
	font-variant:small-caps;
	border-color:black;
	border-style:solid;
	padding:10px;
	background-color:white;
	text-align:center;
	opacity: 0.6;
}
body {
	background-image: url("http://bravenewdungeon.files.wordpress.com/2013/08/ph-barroom-brawl.jpeg");
	background-position:fixed;

}

.dropdown {
	font-color:black;
	background-color:#d3d3d3;

}



